body {
  background-color: $background-color;
  color: $text-color;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
}

body:before {
  content: "";
  background-image: url("~@/assets/tron_bikes.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  // background-blend-mode: darken;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  filter: blur(0px) brightness(15%);
  z-index: -1;
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
textarea,
input {
  color: $text-color;
}

input,
textarea {
  background-color: $background-color-trans;
}
